<!DOCTYPE html>

<html>
<head>
    <title>Clinical Trial Editor</title>
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/commit.css" />
    <link rel="stylesheet" href="static/css/select2.css" />
    <link rel="stylesheet" href="static/css/select2-bootstrap.css" />
    
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/jquery.storage.js"></script>
    <script src="/static/js/jQuery.select2Buttons.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/select2Buttons.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <!--script src="http://code.jquery.com/jquery-1.9.1.js"></script-->
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!--<script src="static/js/d3.v3.js"></script>-->
    
    <style>
        
        pre {
      
        font-size: 10px;
        }
        .examples {
            font-size: 10px;
            line-height: 1.4; 
        }
        
        table {
            margin: 10px;
            cellspacing:20;
            width: 96%;
        }
        td{
             vertical-align: top;
            padding:10px;
        }
        
    </style>

    
</head>


<body>

    <div class="container" style="width: 1100px">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1><img src="static/img/logo-no-text-150dpi.png"style="float: left; width: 100px;"/>Clinical Trials <small>An Editor</small> </h1>
                    <p>Copyright (c) 2013, Krystyna Milian and Rinke Hoekstra, VU University Amsterdam</p>
                </div>
            </div>
        </div>
        
        <table align="center" >
            
        <tr>
        <td width="60%" >
         <div class="row">
            <div class="span4" id ="trial">
                <h4>Trial</h4>
                 {% include 'select_trials.html' %}
                
            </div>
        </div>
        <div class="row">
            <div class="span4" id ="ic">
                <h4>Inclusion Criteria</h4>
                 {% include 'inclusion.html' %}
                {% include 'patterns.html' %}
            </div>
        </div>
          
        <div class="row">
            <div class="span12">
                <div class="editor" id="editor">
                &nbsp;
                </div>
            </div>
        </div>
        
          <div class="row" id="exclusion">
            <div class="span4">
                <h4>Exclusion Criteria</h4>                
                {% include 'exclusion.html' %}
                {% include 'patterns.html' %}
            </div>
        </div>
        
        <div class="editorE" id="editorE">
              &nbsp;
        </div>
        
        </td>
        
                 
        <td width="40%" > <pre id="criteria_text">  </pre> </td>
        </tr>
        </table>
 
        
    </div>

    
    <script type="application/x-javascript">
        
        $(document).ready(function() {
            $("#criteria_text").hide();
            // nothing
        });
    </script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/select2.js"></script>
    <script src="static/js/vendor/jquery.ui.widget.js"></script> 
</body>
</html>