<!DOCTYPE html>

<html>
<head>
    <title>Clinical Trial Editor</title>
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="static/css/commit.css" />
    <link rel="stylesheet" href="static/css/select2.css" />
    <link rel="stylesheet" href="static/css/select2-bootstrap.css" />
    
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/jquery.storage.js"></script>
    <script src="/static/js/jQuery.select2Buttons.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/select2Buttons.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <!--script src="http://code.jquery.com/jquery-1.9.1.js"></script-->
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!--<script src="static/js/d3.v3.js"></script>-->
    
    <script src="/static/js/patterns.js"></script>
    
    <style>
        
      
        font-size: 10px;
        }*/
        .examples {
            font-size: 10px;
            line-height: 1.4; 
        }
        
        #criteria_text {
            height: 600px;
            overflow: scroll;
        }
        
    </style>

    
</head>


<body>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1><img src="static/img/logo-no-text-150dpi.png"style="float: left; width: 100px;"/>Clinical Trials <small>An Editor</small> </h1>
                    <p>Copyright (c) 2013, Krystyna Milian and Rinke Hoekstra, VU University Amsterdam</p>
                </div>
            </div>
        </div>
        
         <div class="row">
            <div class="span5">
                <div class="row">
                    <div class="span5">
                        <div class="navbar">
                            <div class="navbar-inner">
                              <a class="brand" href="#"></a>
                              <ul class="nav pull-right">
                                <li class="divider-vertical"></li>
                                <li><a id='savebutton' href="#">Save</a></li>
                                <li class="divider-vertical"></li>
                              </ul>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="span5" id ="trial">
                        <h4>Trial</h4>
                        {% include 'select_trials.html' %}    
                    </div>
                </div>
                <div class="row">
                    <div class="span5" id ="ic">
                        <h4>Inclusion Criteria</h4>
                        {% include 'inclusion.html' %}
                        
                    </div>
                </div>
                  
                <div class="row">
                    <div class="span5">
                        <div class="editor" id="editor">
                        &nbsp;
                        </div>
                    </div>
                </div>
                
                  <div class="row" id="exclusion">
                    <div class="span5">
                        <h4>Exclusion Criteria</h4>                
                        {% include 'exclusion.html' %}
                    </div>
                </div>
                
                <div class="row">
                    <div class="span5">
                        <div class="editorE" id="editorE">
                        &nbsp;
                        </div>
                    </div>
                </div>
            </div>

            <div class="span7">
                <div class="well" id="criteria_text">  </div>
            </div>
        </div>
    </div>

    
    <script type="application/x-javascript">
        
        $(document).ready(function() {
            $("#criteria_text").hide();
            // nothing
            
            $.get('/patternvalues', function(data){
                $.localStorage('patternvalues',data.values);
                
                console.log(data.values);
                console.log('added pattern values to local storage');
            });
            
            $("#savebutton").click(function(){
                
                var pattern_data = [];
                
                var trial = $('#trialselect').find('option:selected').attr('value');
                    
                console.log(trial);
                
                $('.pattern-and-eval').each(function(index){
                    var pattern = $(this).find('.pattern')[0];
                    var evaluation = $(this).find('.eval')[0];
                    
                    var pattern_uri = $(pattern).attr('value');
                    var pattern_type = $(pattern).attr('type');
                    
                    console.log(pattern_uri);
                    
                    var criteria = [];
                    
                    var inputs = $(pattern).find('input.entry');
                    
                    console.log(inputs);
                    
                    inputs.each(function(index){
                        criteria.push($(this).attr('value'));
                        console.log($(this).attr('value'));
                    });
                    
                    console.log(criteria);
                    
                    
                    var eval_buttons = $(evaluation).find('input');
                    
                    var complete = false;
                    
                    eval_buttons.each(function(index){
                        if ($(this).attr('name') == 'ok' && $(this).is(':checked')) {
                            console.log('Ok!');
                            complete = true;
                        }
                    });
                    
                    
                    
                    
                    var data = {'type': pattern_type, 'uri': pattern_uri, 'criteria': criteria, 'complete': complete};
                    
                    pattern_data.push(data);
                    
                });
                
                var trial_data = {'trial': trial, 'patterns': pattern_data};
                
                console.log(trial_data);
            });
        });
    </script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/select2.js"></script>
    <script src="static/js/vendor/jquery.ui.widget.js"></script> 
</body>
</html>