<script>
    $(document).ready(function() {        
        $("#patterns").select2({ placeholder: "Start typing..." , allowClear: true });
        
        $.get('/patternvalues', function(data){
            $.localStorage('patternvalues',data.values);            
            console.log('added to local storage');
        });    
    });
    
    $('#patterns').change(function () {
        $("#patterns option:selected").each(function (){
            if ($(this).is(":empty")) {
                return;
            }
            
            var pattern_uri = $(this).attr('value');
            var pattern_template = $(this).attr('template');
            var pattern_text = $(this).attr('text');
            
            buildPatternCombo(pattern_uri, pattern_template, pattern_text, 'i');
        });
        
    });
    
</script>