    
    <script>
        $(document).ready(
                          function() {
                    $("#trialselect").select2({ placeholder: "Select a trial" , allowClear: true });
                    
                    $("#trialselect").click(function() {
                        $("#criteria_text").empty();
                        $("#criteria_text").show();
                        
                        var trial = $(this).find('option:selected').attr('value');
                    
                        $.get('/trialtable',{'trial': trial}, function(data){
                            $('#criteria_text').html(data);
                        });
                        
                        $("td:contains('Eligibility Criteria')").scrollTo()

                    });
                    
        
                   }
                   
                   );
    </script>
    <div>
    <select id="trialselect" style="width: 100%; ">
        <option></option>           
        <option value="NCT01806259">Breast Cancer 1</option>
        <option value="NCT01864798">Breast Cancer 2</option>
        <option value="NCT01823107">Breast Cancer 3</option>
        <option value="lc1">Lung Cancer 1</option>
        <option value="lc2">Lung Cancer 2</option>
        <option value="d">Diabetes 1</option>
    </select>
</div>             