<div class="control-group">
        <div class="controls">
                <label for="trials"><i class="icon-search"></i> Select a Clinical Trial</label>
                <select id="trials" style="width: 100%; ">
                        <option></option>
                        {% for t in trials %}
                            <option id="{{ t.id }}" value="{{ t.uri }}">{{ t.id }}</option>
                        {% endfor %}
                </select>
        </div>
</div>

<script type="application/x-javascript" src="static/js/trial_graph.js"></script>
<script>
    $(document).ready(function() { $("#trials").select2({ placeholder: "Start typing..." , allowClear: true }); });
    
    $('#trials').change(function () {   
        $("#trials option:selected").each(function (){
            if ($(this).is(":empty")) {
                return;
            }
            $("#graph").empty();
            $("#concepts").select2("data","");
            $("#criteria").select2("data","");
            
            $("#noselection").hide();
            $("#noresponse").hide();
            $("#loading").show();
            
            
            var trial_uri = $(this).attr('value')
            var trial_id = $(this).attr('id')
            
            drawGraphForTrial(trial_uri, trial_id);

        });
        
    });
</script>